<!DOCTYPE html>
<html>
  <head>
    <title>Quandary</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to Quandary</h1>
    <p>Quandary will help you create and update lists of pros of cons for the many difficult decisions you need to make.  Log your quandaries and free up some of that vital mental RAM today. </p>
    <h4><a href="/quandaries">Quandary</a></h4>
  </body>
</html>
