<!DOCTYPE html>
<html>
  <head>
    <title>Conundrum Consideraton</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
      <h1>What is your quandary?</h1>
      <form action="/quandaries/save" method="post">
        <table>
          <tbody>
            <tr>
              <td>Quandary</td>
              <td><input type="text" name="quandary" /></td>
            </tr>
            <tr>
              <td>Pros</td>
              <td><textarea name="pros"></textarea></td>
            </tr>
            <tr>
              <td>Cons</td>
              <td><textarea name="cons"></textarea></td>
            </tr>
            <tr>
              <td colspan="2"><button type="submit">Save</button></td>
            </tr>
          </tbody>
        </table>
      </form>
      <h3><a href="/quandaries">View saved quandaries</a></h3>
    </div>
  </body>
</html>
